.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant-card{
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-wrap: nowrap;
  /* background-color: #f1f1f1; */
  margin: 0px 5px;
}
.restaurant-card button{
  width: 50%;
}
.restaurant-card:hover{
  border: 1px solid black;
}
.res-cardImg{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid rgb(73, 66, 66);
}
